<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Taskboards</title>
	<%= stylesheet_link_tag 'bootstrap' %>
  <%= javascript_include_tag 'lib/jquery', 'lib/jquery-ui.min', 'lib/rails' %>
</head>

<body>
  
  <script type="text/javascript">var _kiq = _kiq || [];</script>
  <script type="text/javascript" src="//s3.amazonaws.com/ki.js/13533/5Z_.js" async="true"></script>
  
  <div class="container">
    
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          
            <%= link_to "Taskboard", { :controller => "taskboard", :action => "index" }, :title => "Back to taskboard list", :rel => 'home', :class => "brand" %>
            
          
        		
        </div>
      </div>
    </div>
  <div class="page-header">
  <h1>Welcome to Taskboard</h1>
  </div>
  <p class="error"><%= flash[:error] %></p>
  
  <h2>Choose a taskboard from a list</h2>
  
  	<%= render :partial => 'taskboard', :collection => @taskboards %>
  
  <% if session[:editor] -%>
  
  <br>
  
  	<form action="/taskboard/add_taskboard" method="get" class='well'>
  	  <h2>Do a new taskboard</h2>
  	<fieldset>
  		<label form="name">Type a name of new taskboard</label>
  		<input type="text" id="name" name="name" />
  		<input type="submit" value="Add" class="btn"/>
		
  	</fieldset>
  	</form>

  <% if current_user.is_admin? %>
  
  
  <h2>User management</h2>
  	<h2><%= link_to 'Yes please!', users_path, :class => 'btn-primary btn' %></h2>
  <% end %>
  <% end -%>
  </ul>
  </div>
</body>
</html>
