<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Taskboard</title>
	<%= stylesheet_link_tag 'bootstrap' %>
	<%= stylesheet_link_tag 'taskboard' %>
	<%= stylesheet_link_tag 'print', :media => "print" %>
	<!-- TODO: pack jQuery and plugins for production -->
	<%= javascript_include_tag 'lib/jquery', 'lib/jquery-ui.min', 'lib/jquery.jeditable', 'lib/jquery.colorpicker', 'lib/jquery.flot', 'lib/jquery.cookie', 'lib/showdown', 'lib/jquery-ui-touch-punch-min' %>
	<script src="<%= juggernaut_js %>" type="text/javascript" charset="utf-8"></script>
	<%= javascript_include_tag 'utils', 'taskboard', 'bootstrap.min' %>

	<%= javascript_tag "$.extend(TASKBOARD, { id : '#{@taskboard_id}'});" %>
	<%= javascript_tag "$.extend(TASKBOARD, { editor : #{session[:editor]}});" %>
	<%= javascript_tag "$.extend(TASKBOARD, { authenticity_token : #{form_authenticity_token.inspect} });" if protect_against_forgery? %>
	<script>
	var juggernaut = new Juggernaut();
	$('body').trigger('juggernaut:initialized');
	juggernaut.on("connect", function(){ 
	 	$('body').trigger('juggernaut:connected');
	});

	juggernaut.on("disconnect", function(){ 
		$('body').trigger('juggernaut:disconnected');
	});
	juggernaut.subscribe(TASKBOARD.id, function(data){
    	eval(data);
  	});
  	$(document).ready( function() {
  		if (navigator.userAgent.match(/like Mac OS X/i)) {
    		$('body').addClass('iphone');
    	}
  	});
	</script>
</head>
<body>
  
  <script type="text/javascript">var _kiq = _kiq || [];</script>
  <script type="text/javascript" src="//s3.amazonaws.com/ki.js/13533/5Z_.js" async="true"></script>
  
	<header>
	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <h1><%= link_to "Taskboard", { :controller => "taskboard", :action => "index" }, :title => "Back to taskboards list", :rel => 'home', :class => 'brand' %></h1>
          <div class="nav-collapse">
            <ul id="actions" class="nav">
              	<li><a class="cardKey" href="#" title="Colours">Key</a></li>
				<% if session[:editor] -%>
				<li><a class="actionAddCards" href="#" title="Add some cards to this taskboard">Add cards</a></li>
				<li><a class="actionAddColumn" href="#" title="Add a column to this taskboard">Add column</a></li>
				<% end -%>
				<li><a class="actionShowFilterSearch" href="#" title="Filter cards by various fields">Filters</a></li>
				<li><a class="actionToggleAll" href="#" title="Zoom cards view">Zoom</a></li>

				<li class="dropdown" id="menu1">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">Logged in as <%= session[:user].username %> 
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><%= link_to "Logout", { :controller => "login", :action => "logout" }, :title => "Logout from Taskboard app" %></li>
					</ul>
				</li>
				
            </ul>
          </div>
        </div>
      </div>
    </div>
    </header>
		<form id="formActions" action="#">
			
		
			<fieldset id="cardKey">
				
				<a class='actionHideForm' href='#' title='Hide'><img src='/assets/hide_off.png' alt='Hide'/></a>

				<div id="cardKeyWrapper">
					<ol>
					<li style="color:white;">Card key</li>
					<li class="color ffffff" style="background-color: #ffffff;">New</li>
					<li class="color BBFF44" style="background-color: #BBFF44;">In analysis</li>
					<li class="color 53E36D" style="background-color: #53E36D;">Analysis complete</li>
					<li class="color 23C7A1" style="background-color: #23C7A1;">Accepted</li>
					<li class="color ff7f00" style="background-color: #ff7f00;">Epic</li>
					<li class="color 25aef5" style="background-color: #25aef5;">Process</li>
					<li class="color CCCCCC" style="background-color: rgb(204, 204, 204);">Out of date</li>
					<li class="color FF2019" style="background-color: rgb(255, 32, 25);">Important</li>
					</ol>
				</div>
			</fieldset>
			<fieldset id="fieldsetAddCards">
				<a class='actionHideForm' href='#' title='Hide'><img src='/assets/hide_off.png' alt='Hide'/></a>
				<label for="inputAddCards">Type a card title, JIRA issue or paste a filter URL:</label>
				<input id="inputAddCards" type="text" />
				<input type="submit" value="Add" />
				<span>to</span> <select id="selectColumn"><option>Test</option></select>
			</fieldset>
			<fieldset id="fieldsetAddColumn">
				<a class='actionHideForm' href='#' title='Hide'><img src='/assets/hide_off.png' alt='Hide'/></a>
				<label for="inputAddColumn">Type a column name:</label>
				<input id="inputAddColumn" type="text" />
				<input type="submit" value="Add" />
			</fieldset>
			<fieldset id="fieldsetTags">
				<a class='actionHideForm' href='#' title='Hide'><img src='/assets/hide_off.png' alt='Hide'/></a>
				<label>Filter cards by tags:</label>
				<ul id="filterTags"></ul>
				<label>Filter cards by users:</label>
				<ul id="filterUsers"></ul>
			</fieldset>
		</form>
	
	<div class="container">

	<ol id="taskboard">
		<li><!-- just to make it valid --></li>
	</ol>



	</div>

	<div class="modal hide fade slide">
	    <div class="modal-header">
	    <a class="close" data-dismiss="modal">×</a>
	    <h3>Editing card</h3>
	    </div>
	    <div class="modal-body">
	    
	    </div>
	    
	</div>

</body>
</html>
