
  
<header class="page-header">
  <h1>Manage users</h1>
</header>

<section>

<table class="table">
  <thead>
  <tr>
    <th>Login</th>
    <th>Email</th>
		<th>Editor</th>
		<th>Admin</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>

  <% for user in @users %>
    <tr>
      <td><%=h user.username %></td>
      <td><%=h user.email %></td>
			<td><%=h user.editor %></td>
			<td><%=h user.is_admin %></td>
      <td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-small' %>
      <%= link_to 'Delete', user, 
          :class => 'btn btn-small btn-danger', 
          :confirm => "Are you sure you want to delete '#{user.username}'?",
          :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br />

<%= link_to 'Create new user!', new_user_path, :class => 'btn' %>

</div>
</div>
</body>

</section>