
<p>
  <b>Login:</b>
  <%=h @user.username %>
</p>

<p>
  <b>Editor:</b>
  <%=h @user.editor %>
</p>

<p>
  <b>Admin:</b>
  <%=h @user.is_admin %>
</p>

<p>
  <b>Password:</b>
  [secret]
</p>

<p>
  <strong>Projects:</strong>
  <ul>
  <% @user.permissions.each do |permission| %>
    <li><%= permission.taskboard.name %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Admin', users_path %>
