<%#
Copyright (C) 2009 Cognifide

This file is part of Taskboard.

Taskboard is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Taskboard is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Taskboard. If not, see <http://www.gnu.org/licenses/>.
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>Taskboard: login page</title>
		<%= stylesheet_link_tag 'bootstrap' %>
	</head>
	<body>
	  
	  <script type="text/javascript">var _kiq = _kiq || [];</script>
    <script type="text/javascript" src="//s3.amazonaws.com/ki.js/13533/5Z_.js" async="true"></script>
	  
	  <div class="container">
  		
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <%= link_to "Taskboard", { :controller => "taskboard", :action => "index" }, :title => "Back to taskboard list", :rel => 'home', :class => "brand" %>
          </div>
        </div>
      </div>

      <div class="page-header">
        <h1>Login</h1>
      </div>


  		<% if flash[:notice] -%>
  		<div class="alert alert-error"><%= flash[:notice] %></div>
  		<% end -%>
  		<%= form_tag do %>
  		<fieldset>
        <div class="control-group">
          <label for="login" class="control-label">User name:</label>
          <div class="controls">
            <%= text_field_tag :login, params[:login] %>
          </div>
        </div>
        <div class="control-group">
          <label for="password" class="control-label">Password:</label>
          <div class="controls">
            <%= password_field_tag :password, params[:password] %>
          </div>
        </div>
  		  <%= button_tag "Login", :class => "btn btn-primary" %>
  		</fieldset>
  		<% end %>
		</div>
	</body>
</html>
